.cover {
    background-image: url(../images/hero-desktop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @media only screen and (max-width: $bp-large) {
        background-position: top;
        background-position-y: -3rem;
    }
}

.main {
    &__pre {
        flex-basis: 11vw;

        @media only screen and (max-width: $bp-large) {
            flex-basis: initial;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        flex-basis: 40vw;

        &--logobox {
            display: flex;
            align-items: center;
            height: 20vh;

            @media only screen and (max-width: $bp-large) {
                height: 14vh;
                margin-bottom: 23.5rem;
                margin-left: 4rem;
            }

            @media only screen and (max-height: $bp-medium-ht) {
                height: 27vh;
                margin-bottom: 27rem;
            }

            @media only screen and (min-height: $bp-large-ht) and (max-width: $bp-large) {
                height: 12vh;
                margin-bottom: 18rem;
            }
        }

        &--header {
            height: 55vh;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            @media only screen and (max-width: $bp-large) {
                align-items: center;
                text-align: center;
            }

            &-title {
                font-size: 4.9rem;
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: 0.65rem;


                @media only screen and (max-width: $bp-large) {
                    display: flex;
                    text-align: center;
                    font-size: 3.2rem;
                    padding-left: 1.2rem;
                    padding-right: 1.2rem;
                }

                @media only screen and (max-width: $bp-smallest) {
                    font-size: 2.5rem;
                }

                @media only screen and (max-height: $bp-medium-ht) {
                    margin-bottom: 2rem;
                }

                &-pre {
                    font-weight: 300;
                    letter-spacing: 0.75rem;
                    color: var(--color-soft-red);
                }

                &-mid {
                    @media only screen and (min-width: $bp-largest) {
                        display: block;
                    }

                    @media only screen and (max-width: $bp-large) {
                        display: block;
                    }
                }

                &-post {
                    @media only screen and (min-width: $bp-largest) {
                        display: block;
                    }
                }
            }

            &-caption {
                width: 85%;
                font-size: 1.18rem;
                line-height: 1.7rem;
                color: var(--color-soft-red);

                @media only screen and (max-width: $bp-large) {
                    padding-left: 1rem;
                    padding-right: 1rem;
                    font-size: 1rem;
                }

                @media only screen and (max-width: $bp-smallest) {
                    font-size: .9rem;
                }
            }
        }

        &--input {
            @media only screen and (max-height: $bp-medium-ht) {
                margin-top: 5rem;
            }

            &-cta {
                position: relative;

                @media only screen and (max-width: $bp-large) {
                    text-align: center;
                }
            }
        }

        &--footer {

            display: flex;
            min-height: 10vh;
            align-items: flex-end;
            padding-bottom: 1.15rem;

            @media only screen and (max-width: $bp-large) {
                justify-content: center;
            }

            @media only screen and (max-height: $bp-medium-ht) {
                margin-top: 3rem;
            }

            .attribution {
                font-size: .7rem;
                text-align: center;

                &--self {
                    @media only screen and (max-width: $bp-large) {
                        display: block;
                        line-height: 1.3rem;
                    }
                }
            }

            .attribution a {
                text-decoration: none;
                color: hsl(228, 45%, 44%);
            }
        }
    }

    &__post {
        flex-basis: 14vw;
    }
}

.input-box {
    min-width: 65%;
    padding: 0.958rem;
    border-radius: 6.25rem;
    border: 1px solid var(--color-deep-red);
    outline: none;

    &::placeholder {
        font-family: "Josefin Sans", sans-serif;
        color: var(--color-deep-red);
        opacity: 0.6;
        font-size: 1rem;
    }

    &:placeholder-shown~.requirements {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-2rem);
    }

    &:focus {
        border: 1.8px solid var(--color-soft-red);

        &:invalid {
            background-image: url(../images/icon-error.svg);
            background-repeat: no-repeat;
            background-position: 73.5%;
        }

        &:valid~.requirements {
            opacity: 0;
            visibility: hidden;
            transform: translateY(-2rem);
        }
    }


}

.btn-inline {
    padding: 0.79rem;
    width: 16%;
    cursor: pointer;
    position: absolute;
    left: 50%;
    border-radius: 6.25rem;
    border: none;
    outline: none;
    background: var(--gradient-2);

    @media only screen and (max-width: $bp-large) {
        left: 67%;
    }

    &::before {
        content: url(../images/icon-arrow.svg);
    }

    &:hover {
        box-shadow: -2px 15px 20px var(--color-deep-red);
        transform: translate(.2rem);
        transition: all 0.3s ease 0s;
    }

}

.requirements {
    color: var(--color-soft-red);
    font-size: .9rem;
    margin-left: 1rem;
    margin-top: .5rem;
    transition: all .3s;
}