.container {
    display: flex;
    min-height: 100vh;

    @media only screen and (max-width: $bp-large) {
        flex-direction: column-reverse;
    }
}

.cover {
    flex-basis: 38vw;

    @media only screen and (max-width: $bp-large) {
        position: absolute;
        width: 100vw;
        top: 7rem;
        flex-basis: auto;
        height: 20rem;
    }

    @media only screen and (max-width: $bp-smallest) {
        top: 5rem;
    }
}

.main {
    display: flex;
    flex-basis: 65vw;
    background-image: url(/images/bg-pattern-desktop.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @media only screen and (max-width: $bp-large) {
        flex-direction: column;
    }
}